<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,180}</string>
                <key>textureRect</key>
                <string>{{203,197},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,135}</string>
                <key>spriteSourceSize</key>
                <string>{188,135}</string>
                <key>textureRect</key>
                <string>{{393,257},{188,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,173}</string>
                <key>spriteSourceSize</key>
                <string>{181,173}</string>
                <key>textureRect</key>
                <string>{{590,188},{181,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,195}</string>
                <key>spriteSourceSize</key>
                <string>{172,195}</string>
                <key>textureRect</key>
                <string>{{1,595},{172,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1,405},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,159}</string>
                <key>spriteSourceSize</key>
                <string>{153,159}</string>
                <key>textureRect</key>
                <string>{{561,538},{153,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,224}</string>
                <key>spriteSourceSize</key>
                <string>{152,224}</string>
                <key>textureRect</key>
                <string>{{399,1},{152,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,177}</string>
                <key>spriteSourceSize</key>
                <string>{129,177}</string>
                <key>textureRect</key>
                <string>{{357,656},{129,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,189}</string>
                <key>spriteSourceSize</key>
                <string>{100,189}</string>
                <key>textureRect</key>
                <string>{{399,155},{100,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,95}</string>
                <key>spriteSourceSize</key>
                <string>{151,95}</string>
                <key>textureRect</key>
                <string>{{536,693},{151,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,185}</string>
                <key>spriteSourceSize</key>
                <string>{149,185}</string>
                <key>textureRect</key>
                <string>{{625,1},{149,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{203,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,183}</string>
                <key>spriteSourceSize</key>
                <string>{116,183}</string>
                <key>textureRect</key>
                <string>{{191,501},{116,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,120}</string>
                <key>spriteSourceSize</key>
                <string>{188,120}</string>
                <key>textureRect</key>
                <string>{{203,379},{188,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,173}</string>
                <key>spriteSourceSize</key>
                <string>{178,173}</string>
                <key>textureRect</key>
                <string>{{583,363},{178,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,180}</string>
                <key>spriteSourceSize</key>
                <string>{167,180}</string>
                <key>textureRect</key>
                <string>{{175,619},{167,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,183}</string>
                <key>spriteSourceSize</key>
                <string>{134,183}</string>
                <key>textureRect</key>
                <string>{{376,520},{134,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,185}</string>
                <key>spriteSourceSize</key>
                <string>{124,185}</string>
                <key>textureRect</key>
                <string>{{393,394},{124,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>80_99.png</string>
            <key>size</key>
            <string>{775,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeafeaa2bac7cbaac1aea10015a86750:7ee714b22dcc59c583818dcde855c99b:eff89a3bbd6d4f89fe15f1d1c398c764$</string>
            <key>textureFileName</key>
            <string>80_99.png</string>
        </dict>
    </dict>
</plist>
