<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,127}</string>
                <key>spriteSourceSize</key>
                <string>{188,127}</string>
                <key>textureRect</key>
                <string>{{382,646},{188,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,154}</string>
                <key>spriteSourceSize</key>
                <string>{189,154}</string>
                <key>textureRect</key>
                <string>{{192,488},{189,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,171}</string>
                <key>spriteSourceSize</key>
                <string>{190,171}</string>
                <key>textureRect</key>
                <string>{{1,776},{190,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{192,1},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{383,253},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,206}</string>
                <key>spriteSourceSize</key>
                <string>{189,206}</string>
                <key>textureRect</key>
                <string>{{383,455},{189,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{178,188}</string>
                <key>textureRect</key>
                <string>{{596,1},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,233}</string>
                <key>spriteSourceSize</key>
                <string>{189,233}</string>
                <key>textureRect</key>
                <string>{{192,253},{189,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,277}</string>
                <key>spriteSourceSize</key>
                <string>{189,277}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{591,408},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,127}</string>
                <key>spriteSourceSize</key>
                <string>{188,127}</string>
                <key>textureRect</key>
                <string>{{573,734},{188,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,188}</string>
                <key>spriteSourceSize</key>
                <string>{162,188}</string>
                <key>textureRect</key>
                <string>{{383,775},{162,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,259}</string>
                <key>spriteSourceSize</key>
                <string>{189,259}</string>
                <key>textureRect</key>
                <string>{{1,280},{189,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,130}</string>
                <key>spriteSourceSize</key>
                <string>{189,130}</string>
                <key>textureRect</key>
                <string>{{191,644},{189,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,80}</string>
                <key>spriteSourceSize</key>
                <string>{188,80}</string>
                <key>textureRect</key>
                <string>{{573,863},{188,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{141,215}</string>
                <key>textureRect</key>
                <string>{{596,191},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{394,1},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,233}</string>
                <key>spriteSourceSize</key>
                <string>{188,233}</string>
                <key>textureRect</key>
                <string>{{1,541},{188,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,162}</string>
                <key>spriteSourceSize</key>
                <string>{188,162}</string>
                <key>textureRect</key>
                <string>{{193,776},{188,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,134}</string>
                <key>spriteSourceSize</key>
                <string>{188,134}</string>
                <key>textureRect</key>
                <string>{{591,598},{188,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0_19.png</string>
            <key>size</key>
            <string>{780,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad407feb3c154f6f715c9a5e54c03600:08ad31dd6347c3c7f9753353fdf83be7:7b86115c1a86d72bd9ab9a59ee2a6286$</string>
            <key>textureFileName</key>
            <string>0_19.png</string>
        </dict>
    </dict>
</plist>
