<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,165}</string>
                <key>spriteSourceSize</key>
                <string>{148,165}</string>
                <key>textureRect</key>
                <string>{{529,549},{144,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,186}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{163,601},{124,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{150,182}</string>
                <key>textureRect</key>
                <string>{{486,369},{146,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{139,158}</string>
                <key>spriteSourceSize</key>
                <string>{147,168}</string>
                <key>textureRect</key>
                <string>{{601,1},{139,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,160}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1,456},{188,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,126}</string>
                <key>spriteSourceSize</key>
                <string>{184,128}</string>
                <key>textureRect</key>
                <string>{{344,1},{184,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,157}</string>
                <key>spriteSourceSize</key>
                <string>{135,157}</string>
                <key>textureRect</key>
                <string>{{634,276},{135,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{325,199},{165,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{168,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{155,231},{168,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{151,196}</string>
                <key>spriteSourceSize</key>
                <string>{161,198}</string>
                <key>textureRect</key>
                <string>{{191,1},{151,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,182}</string>
                <key>spriteSourceSize</key>
                <string>{112,182}</string>
                <key>textureRect</key>
                <string>{{634,413},{110,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,223}</string>
                <key>spriteSourceSize</key>
                <string>{152,223}</string>
                <key>textureRect</key>
                <string>{{1,231},{152,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,133}</string>
                <key>spriteSourceSize</key>
                <string>{180,139}</string>
                <key>textureRect</key>
                <string>{{351,585},{176,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{145,130}</string>
                <key>spriteSourceSize</key>
                <string>{147,132}</string>
                <key>textureRect</key>
                <string>{{675,525},{145,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{127,180}</string>
                <key>spriteSourceSize</key>
                <string>{129,182}</string>
                <key>textureRect</key>
                <string>{{472,1},{127,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,168}</string>
                <key>spriteSourceSize</key>
                <string>{142,172}</string>
                <key>textureRect</key>
                <string>{{492,183},{134,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{113,192}</string>
                <key>spriteSourceSize</key>
                <string>{123,200}</string>
                <key>textureRect</key>
                <string>{{628,161},{113,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{166,174}</string>
                <key>textureRect</key>
                <string>{{320,411},{164,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{188,155}</string>
                <key>spriteSourceSize</key>
                <string>{200,181}</string>
                <key>textureRect</key>
                <string>{{163,411},{188,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,228}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>60_79.png</string>
            <key>size</key>
            <string>{821,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c21d09b5f0ad53b1087f45116d6f953e:0f993929e0984f5f5a42b0171bde9f99:9006cebeee1627b26d8d30a880666eaf$</string>
            <key>textureFileName</key>
            <string>60_79.png</string>
        </dict>
    </dict>
</plist>
